/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}

/* Navbar */
.navbar {
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 80px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-links a {
    margin-left: 25px;
    color: #555;
    font-weight: 600;
    text-decoration: none;
}

.nav-links a:hover {
    color: #a2f19b;
}

.login-btn {
    background: #111;
    color: #fff !important;
    padding: 6px 14px;
    border-radius: 12px;
}

.login-btn:hover {
    background: #d6bd6a;
}

/* Hero Section */
.hero {
    height: 100vh;
    background: url('fitness-bg.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 0 20px;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-btn {
    background: #111;
    color: #fff;
    padding: 12px 30px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
}

.cta-btn:hover {
    background: #c26e9f;
}

.about {
    width: 100%;
    background: #e6d4eb;
    padding: 100px 20px;
    text-align: center;
    margin-top: 80px;
}

.about h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #111;
}

.about p {
    max-width: 800px;
    margin: 0 auto 20px auto;
    line-height: 1.8;
    font-size: 16px;
    color: #555;
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #111;
    color: #fff;
    margin-top: 40px;
}
